{% extends 'base.html' %}
{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/demo_button.css" %}">
<link rel="stylesheet" href="{% static "css/data_text.css" %}">
<link rel="stylesheet" href="{% static "css/honeySwitch.css" %}">
<link rel="stylesheet" href="{% static "css/BigData.css" %}">
<link rel="stylesheet" href="{% static "css/graph.css" %}" >
<link rel="stylesheet" href="{% static "css/bootstrap-table.scss" %}" >

{% endblock %}

{% block content %}
<div class="net_content">
    <div class="index_tabs" >
        <div class="inner">
            <div class="data_left03">
                <div class="dataAllNo01 maginS01">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02" id="dataAllBorder02">
                            <div class="data_tit3">节点搜索</div>
                                <div class="search d2">
                                    <form id = 'search' onsubmit="return false">
                                        <input id="local_object_data" runat="server" autocomplete="off" data-provide="typeahead" data-items="12" class="input-sm form-control" type="text" placeholder="搜索从这里开始..." name="search">
                                        <div id="deepsearch" style="display: none">
                                            <select id="select_data_1">
                                                <option value="" disabled selected>选择对象标签</option>
                                                {% for i in labels %}
                                                <option value="{{ i }}">{{ i.name }} </option>
                                                {% endfor %}
                                            </select>
            {#                                <input id="local_object_data" runat="server" autocomplete="off" data-provide="typeahead" data-items="12" type="text" placeholder="输入对象标签" autocomplete="off">#}
                                            <input id="local_object_data_" runat="server" autocomplete="off" data-provide="typeahead" data-items="12" type="text" placeholder="输入对象属性" autocomplete="off" name="pro">
                                            <input id="deepth" placeholder="输入查询深度，默认为3" name="deepth">
                                        </div>
                                        <button type="submit"></button>
                                        <span id="deepbtn">高级搜索</span>
                                    </form>
                                </div>
                                <div class = "panel1 panel-default searchpanel" id="btable" style="height: 80%">
                                    <table id="results" class="table table-striped table-hover">
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data_left04">
                <!--style="margin-top: 6.3%"-->
                <div class="dataAllNo01">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02" >
                            <div class="data_tit3">网络视图查看</div>
                            <svg id="div0" width=90% height="calc(8%)" style="margin: 0 5% 0 5%"></svg>
                            <svg id="div1" width=100% height="calc(88%)"></svg>
                            <div id="cus_ser">
                                <div class="cus_ser_">
                                    <div class="title">参数设置</div>
                                    <ul>
                                        弹簧力<input type='range' id='r1' class='tip fill' value='100' max='500' min='10' name='r1'/>
                                        电荷力<input type='range' id='r2' class='tip fill' value='-400' max='100' min='-2000' name='r2'/>
                                        节点半径<input type='range' id='r3' class='tip fill' value='1' max='5' min='1' name='r3'/>
                                        节点透明度<input type='range' id='r6' class='tip fill' value='10' max='10' min='1' name='r6'/>

                                        <div class="common-row">
                                            <div class="cell-left">固定布局</div>
                                            <div class="cell-right"><span class="switch-off" id="fixLayout"></span></div>
                                        </div>
                                        <button id="r4" onclick="" style="display:none">固定所有节点</button>
                                        <button id="r5" onclick="" style="display:none">仿真所有节点</button>
                                        <div class="common-row">
                                            <div class="cell-left">节点文字</div>
                                            <div class="cell-right"><span class="switch-on" id="nodeText"></span></div>
                                        </div>
                                        <div class="common-row">
                                            <div class="cell-left">关系文字</div>
                                            <div class="cell-right"><span class="switch-on" id="linkText"></span></div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data_left03">
                <div class="dataAllNo01 maginS01">
                    <div class="dataAllBorder01">
                        <div class="dataAllBorder02">
                            <div class="data_tit3">详细信息</div>
                            <div class="dataAllBorder20">
                                <div class="inner_table">
                                    <table id="more" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width: 18%">属性</th>
                                            <th>内容</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="windows8">
    <div class="wBall" id="wBall_1">
        <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
        <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
        <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
        <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
        <div class="wInnerBall"></div>
    </div>
</div>

<script src="{% static "js/jquery-2.2.1.min.js" %}"></script>
<script src="{% static "js/bootstrap3-typeahead.js" %}"></script>
<script src="{% static "js/honeySwitch.js" %}"></script>
<script src="{% static "js/ajax.js" %}"></script>
<script src="{% static "js/d3.v5.min.js" %}"></script>
<script src="{% static "js/d3.js" %}"></script>
<script src="{% static "js/bootstrap-table.js" %}"></script>
<script src="{% static "js/bootstrap-table-zh-CN.min.js" %}"></script>
<script src="{% static "js/btable.js" %}"></script>

<script>
$('#local_object_data').typeahead({
    source: function (query, process) {
        $.ajax({
            type: "GET",
            url: "query",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            timeout: 50000,
            async: false,
            success: function (data) {
                var temp=[];
                var keyslist = {{ keyslist|safe }};
                for(let i of data){
                    for(let j of keyslist){
                        if(i.labels.includes(j.labels)){
                            var show = j.main_key;
                            var show2 = i.second_key;
                            if(i.node[show]){temp.push(i.node[show]);}
                            else if(i.node[show2]){temp.push(i.node[show2]);}
                            else{temp.push(i.node['id']);}
                        }
                    }
                }
                return process(temp);
            },
            error: function (err) {
                console.log("error"+err);
            }
        });
    },
    autoSelect: false,
    items: 8,
});

$("#search").submit(function(){
    find();
    return false;
    });
function SearchMore(row) {
    var index = row.index;
    var label = row.labels;
    var content = row.key;
    $.get("search?index=" + encodeURIComponent(index)+"&label="+encodeURIComponent(label)+"&content="+encodeURIComponent(content),
        function (data) {
            var t = $("table#more tbody").empty();
            if (!data || data.length == 0) {
                $("<tr><td class = 'unit' id = 'result_'>" + "没有要查询的内容！" + "</td></tr>").appendTo(t)
                return;
            }
            var content = data[2][0]['pro'];
            for(var key in content){
                $("<tr><td>"+key+"</td><td>"+content[key]+"</td></tr>").appendTo(t);
            }
            $("svg").empty();
            ShowGraph(data[0],data[1],data[3]);
        },"json");
}
var btn = $('#deepbtn');
var spread = $('#deepsearch');
btn.click(function () {
    $("#btable").hide();
    spread.slideToggle()
})


</script>

{% endblock %}