{% extends 'base.html' %}
{% block link %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static "css/charts.css" %}" >
<link rel="stylesheet" href="{% static "css/bootstrap-table.scss" %}">
{% endblock %}

{% block content %}
<div class="charts_content">
    <div class="box-left">
        <div class="left-top">
            <hr style=" height:10px;border:none;border-top:10px groove #324ad0;width:95%"/>
            <div class="left-title">
                中心性算法
            </div>
        </div>
        <div class="left-center">
            <div class="title-box">
                <h6>节点重要性评估</h6>
            </div>
            <div class="chart-box chart-scroll">
                <select class="select-div" id="node-algo">
                    <option>接近中心性</option>
                    <option>亲密度中心性</option>
                    <option>PageRank</option>
                    <option>ArticleRank(3.5+)</option>
                    <option>特征向量中心性(3.5+)</option>
                </select>
                <select class="select-div" id="node-label">
                    <option>Loc</option>
                    {% for i in labels %}
                         <option value="{{ i.name }}">{{ i.name }} </option>
                    {% endfor %}
                </select>
                <select class="select-div" id="node-link">
                    <option>ROAD</option>
                    {% for i in relaType %}
                         <option value="{{ i.relaType }}">{{ i.relaType }} </option>
                    {% endfor %}
                </select>
                <button onclick="refresh()" type="button" class="refresh-btn">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </button>
                <table rules=rows id="charts_left" class="table_style charts_table"></table>
            </div>
        </div>
        <div class="left-bottom">
            <p class="data_chart" id="whearAbook"></p>
        </div>
    </div>
    <div class="box-center">
        <div class="center-top">
            <div class="chart-box">
                <div id="chart4" style="width:100%;height:95%;"></div>
            </div>
        </div>
        <div class="center-bottom">
            <hr style=" height:2px;border:none;border-top:2px dotted #185598;margin-bottom:0;" />
            <div class="center-bottom-title">
                <div class="center-title">地理信息采集</div>
                <div class="center-btn">
                    <button onclick="get_GPS()" type="button" class="center-botton">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </button>
                    <button onclick="get_sun()" type="button" class="center-botton">
                        <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="chart-box-center">
                <select class="select-div" id="node-label-center" onchange="getProperty();">
                    {% for i in labels %}
                         <option value="{{ i.name }}">{{ i.name }} </option>
                    {% endfor %}
                </select>
                <select class="select-div" id="node-property-longitude">
                    <option selected="selected" disabled="disabled"  style='display: none' value=''>--经度--</option>
                </select>
                <select class="select-div" id="node-property-latitude">
                    <option selected="selected" disabled="disabled"  style='display: none' value=''>--纬度--</option>
                </select>
                <select class="select-div" id="node-property-city">
                    <option selected="selected" disabled="disabled"  style='display: none' value=''>--省市--</option>
                </select>
                <select class="select-div" id="node-property-data">
                    <option selected="selected" disabled="disabled"  style='display: none' value=''>--数据项--</option>
                </select>
{#                <input class="node-input" type="text" value="" id="node-input" placeholder="输入节点...">#}
                <button onclick="get_geo()" type="button" class="refresh-btn">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </button>
                <table rules=rows id="charts_center" class="table_style charts_table"></table>
            </div>
        </div>
    </div>
    <div class="box-right">
        <div class="left-top">
            <hr style=" height:10px;border:none;border-top:10px groove #324ad0;width:95%"/>
            <div class="left-title">
                社区检测算法
            </div>
        </div>
        <div class="left-center">
            <div class="title-box">
                <h6>节点社区分析</h6>
            </div>
            <div class="chart-box-right chart-scroll">
                <select class="select-div-right" id="node-algo-right">
                    <option>LPA标签传播算法</option>
                    <option>Louvain算法</option>
                    <option>UnionFind并查集算法</option>
                    <option>SCC强连通分量</option>
                </select>
                <select class="select-div-right" id="node-label-right">
                    {% for i in labels %}
                         <option value="{{ i.name }}">{{ i.name }} </option>
                    {% endfor %}
                </select>
                <select class="select-div-right" id="node-link-right">
                    <option selected="selected" disabled="disabled"  style='display: none' value=''>----</option>
                    {% for i in relaType %}
                         <option value="{{ i.relaType }}">{{ i.relaType }} </option>
                    {% endfor %}
                </select>
                <input class="node-input" type="text" value="" id="node-input" placeholder="输入节点...">
                <button onclick="refresh_right()" type="button" class="refresh-btn">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </button>
                <table rules=rows id="charts_right" class="table_style charts_table"></table>
            </div>
        </div>
        <div class="left-bottom">
            <div id="sun" style="width: 100%;height: 100%;"></div>
        </div>
    </div>
</div>
<div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>

<script src="{% static "js/rem.js" %}"></script>
<script src="{% static "js/echarts.min.js" %}"></script>
<script src="{% static "js/jquery-2.2.1.min.js" %}"></script>
<script src="{% static "js/d3.v5.min.js" %}"></script>
<script src="{% static "js/d3-little.js" %}"></script>
<script src="{% static "js/ajax.js" %}"></script>
<script src="{% static "js/china.js" %}"></script>
<script src="{% static "js/bootstrap-table.js" %}"></script>
<script src="{% static "js/bootstrap-table-zh-CN.min.js" %}"></script>
<script src="{% static "js/chart-table.js" %}"></script>
<script src="{% static "js/chart-map.js" %}"></script>

{% endblock %}