.map_content{
    /*overflow-x: hidden;*/
    background-color: #081832;
    height: calc(100% - 80px);
}
.left{
    float: left;
}
.right{
    float: right;
}
.map_con{
    width: 100%;
    padding: 0;
    background-color: #081832cc;
}
.map_con_div{
    display: none;
}
.map_left{
    width: 79%;
    height: 100%;
    /* margin-left: 0 !important; */
}
.map_right{
    width: 20.5%;
    height: 100%;
    background-color: #081832;
    overflow: scroll;
}
.map_box{
    width: 100%;
    height: 100%;
    margin-top: 35px;
}
.map_top{
    position: absolute;
    top:80px;
    left: 0;
    height: 35px;
    width: 79%;
    border-bottom: 1px solid #4b8df8;
    background-color: rgba(255, 255, 255, 0.84);
    z-index: 99;
}
.map_top>ul{
    list-style: none;
    font-size: 14px;
    float: right;
}
.map_top>ul>li{
    display: inline-block;
    line-height: 35px;
    padding: 0 10px;
}
.map_top>ul>li i{
    margin-right: 5px;
}
.map_top>ul>li a{
    color: #2E2D3C;
}
.map_top>ul .active,.map_top>ul>li .active{
    color: #0D8BBD;
}
.map_right_top{
    width: 100%;
    height: 35px;
    background-color: #034c6a;
}
.map_right_top>ul>li{
    list-style: none;
    display: inline-block;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    width: 32%;
    color: #FFFFff;
    cursor: pointer;
}
.map_right_top>ul>li.li_active{
    background-color: #0D8BBD;
}
.map_select{
    position: fixed;
    bottom: 30px;
    right: 22%;
    box-shadow: -10px 0px 15px #034c6a inset, /*ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â·Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â¾Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã‚Â©Ãƒâ€¹Ã…â€œÃƒâ€šÃ‚Â´ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚Â±*/
    0px -10px 15px #034c6a inset, /*ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â¸Ãƒâ€¦Ã‚Â ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â¾Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã‚Â©Ãƒâ€¹Ã…â€œÃƒâ€šÃ‚Â´ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚Â±*/
    10px 0px 15px #034c6a inset, /*ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â³ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â¾Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã‚Â©Ãƒâ€¹Ã…â€œÃƒâ€šÃ‚Â´ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚Â±*/
    0px 10px 15px #034c6a inset;
    border: 1px solid #034c6a;
    width: 120px;
    height: 180px;
    border-radius: 5px;
    background-color: #081832e3;
}
.map_select p{
    padding: 8px 15px;
    color: #FFFFff;
    font-size: 14px;
}
.map_select p input[type=checkbox]{
    width: 15px;
    height: 15px;
    position: relative;
    top:3px;
    margin-right: 10px;
}
.iw_poi_title {
    color:#CC5522;
    font-size:14px;
    font-weight:bold;
    overflow:hidden;
    padding-right:13px;
    white-space:nowrap
}
.iw_poi_content {
    font:12px arial,sans-serif;
    overflow:visible;
    padding-top:4px;
    white-space:-moz-pre-wrap;
    word-wrap:break-word
}
.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: -8%;
  right: 0;
  bottom: 0;
  width: 200px !important;
  height: 100px !important;
}
.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: #5e8dd8;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container .search:hover {
  cursor: pointer;
}
.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 9px;
  right: 0;
  bottom: 0;
  left: 9px;
  width: 8px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}
.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}
.container input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: -200px;
  width: 230px;
  height: 25px;
  outline: none;
  border: none;
  background: #5e8dd8;
  color: white;
  text-shadow: 0 0 10px #5e8dd8;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #5e8dd8, 0 10px 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 2s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container input:hover {
  cursor: pointer;
}
.container input:focus {
  width: 230px;
  opacity: 1;
  cursor: text;
}
.container input:focus ~ .search {
  right: 0px;
  background: #151515;
  z-index: 6;
}
.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

label {
    color: #fff;
    height: 30px;
    margin: 5px 5px 5px 5px !important;
    padding: 4px;
}
.left_input_top select {
    color: #fff !important;
}
#query-content{
    color: #fff !important;
}
.map_query{
    background-color: #030829;
    padding: 10px;
}
.map_table{
    width: 100%;
    margin-top: 10px;
    overflow: scroll;
}
.map_table table{
    color: #fff;
    word-wrap:break-word;
}
.map_table table > tbody > tr > td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}